@charset "UTF-8";

.container-wrapper {
	margin-top: 10px;
}

.table {
	table-layout: fixed;
	overflow: auto;
}

.table th {
	text-align: center;
	overflow: hidden;
}

.table td {
	text-align: center;
	overflow: hidden;
	
	text-overflow: ellipsis;
	white-space: nowrap;
}

#btn-remove {
	text-align: center;
	font-size: x-small;
	color: white;
	width: 35%;
	padding: 2px;
}

#btn-plus {
	text-align: center;
	font-size: x-small;
	color: white;
	width: 25%;
	padding: 2px;
}

#btn-minus {
	text-align: center;
	font-size: x-small;
	color: white;
	width: 30%;
	padding: 2px;
}

#page-title {
	margin-top: -30px;
	margin-bottom: 10px; 
	font-weight: bold;
	font-size: 30px;
}

#page-sub-title {
	margin-top: 30px; 
	font-weight: bold;
	font-size: 30px;
}

.partition-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: -20px;
}

.chart-title {
	font-weight: bold;
	font-size: 15px;
	padding: 10px;
	margin-bottom: -5px;
}

.partition {
	margin-top: 20px;
	margin-bottom: -10px;
	margin-left: 10px;
	margin-right: 10px;
}

header {
	margin-bottom: 15px;
}

body, header, footer {
	font-family: Century Gothic, sans-serif;	
}